/*Variables*/

$active-color: #ebf2d2;
$break-xs: 767px;
$break-sm: 768px;

.location-input {
  color: #ffffff;
  background-color:#4c4943;
  padding-top: 20px;
  .input-group {
    padding-bottom: 20px;
  }
}

#results {
  #results-list {
    .item {
      padding-top:15px;
      padding-bottom:15px;
      border-bottom: 1px solid #CCC;
      &.active {
        background-color: $active-color;
      }
      &div[class^="col-xs-12"] div{
        border-bottom: 1px solid #DDD;
      }
    }
    @media screen and (min-width: $break-sm) {
      padding-right:0;
    }
    .location-input {
      background-color:#CCC;
      .input-group {
        padding-bottom: 20px;
      }
    }
    #restaurant-list {
      height: 500px;
      overflow: auto;
      clear: both;
      position: relative;
    }
  }
  #results-map {
    height:300px;
    .iframe-container{
      position: relative;
      width: 100%;
      /*padding-bottom: 56.25%;  Ratio 16:9 ( 100%/16*9 = 56.25% ) */
      & > *{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }
    }
    @media screen and (min-width: $break-sm) {
      padding-left:0;
       height:600px;
    }
  }

}

/*@media print {
  body {
    visibility: hidden;
  }

  #app .modal-dialog {
    visibility: visible;
    .collapse {
      display:table-row;
    }
  }
}*/

.table-responsive tr.collapse.in td, .table-responsive tr.collapse td, .table-responsive tr.collapsing td{
  border:none;
}
.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
  border:none
}

@media (max-width: 767px) {
  .row.reorder-xs {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
      & > [class*="col-"] {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      direction: ltr;
    }
  }
}

#results-map .ok img {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}


.filter-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #CCC;
  transition: all .4s;
}

.filter-slider.close {
  top: 100vh;
  height: 0;
}

.filter-slider-hide {
  display: none;
  transition: all .5s;
}

.filter-slider-show{
  display:block;
  transition: all ,5s;
}

.filter-slider-panel {
  .rating-img {
    opacity: .5;
    border: 4px solid transparent;
    border-radius: 10px;
  }
  .rating-img.rating-img-selected {
    opacity: 1;
    border: 4px solid #3c7893;
  }
}


