.activeOne{
  background-color: #ebf2d2;
}
.item {
  padding-top:10px;
}
.item.active {
  background-color: #ebf2d2;
}
.item div[class^="col-xs-12"] div{
  border-bottom: 1px solid #DDD;
}

.iframe-container{
  position: relative;
  width: 100%;
  /*padding-bottom: 56.25%;  Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.location-input {
  background-color:#CCC;
  margin-bottom: 15px
}

.input-group {
  padding-bottom: 20px;
}

/*#app .row > .col-sm-6 {
  padding-right:0;
}*/

